<!-- 1. Instalacion de Leaflet en Angular -->
<!-- 2. Mostrar un mapa con leaflet con OpenStreetMap -->
<!-- 3. -->
<div class="relative h-screen w-full overflow-hidden bg-amber-200">
  <div id="mapa_v2" class="absolute inset-0 z-0"></div>

  <!-- Menú -->
  <div class="absolute py-4 card">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        <p-tab value="menu">Menú</p-tab>
        <p-tab value="capas_almacenadas">Capas Almacenadas</p-tab>
      </p-tablist>
    </p-tabs>

    <div class="py-4 max-h-[60vh] overflow-y-auto">
      @if (activeTab === 'menu') {
        <p-button
          severity="success"
          label="Mostrar Departamentos"
          (click)="mostrarDepartamentos()"
        />
        <p-button
          severity="success"
          label="Mostrar Entidades Bancarias"
          (click)="mostrarEntidadesBancarias()"
        />
      }
      @if (activeTab === 'capas_almacenadas') {
        <div class="grid grid-cols-1 gap-2 p-2">
          @if (capasGeoJSONAlmacenadas.length === 0) {
            <div class="text-center text-gray-400 text-sm p-3 border-round border-gray-300">
              No hay capas almacenadas
            </div>
          }

          @for (item of capasGeoJSONAlmacenadas; track item.id) {
            <div
              class="flex items-center justify-between p-2 border rounded-2xl border-blue-300 bg-white shadow-1"
            >
              <span class="font-medium text-sm flex-1 truncate">
                {{ item.id }}
              </span>

              <div class="flex gap-2">
                <p-button
                  [icon]="item.visible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                  [severity]="item.visible ? 'secondary' : 'info'"
                  [rounded]="true"
                  [outlined]="true"
                  size="small"
                  (click)="estadoVisibleCapa(item)"
                />

                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [outlined]="true"
                  size="small"
                  (click)="eliminarCapa(item.id)"
                />
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>

  <!-- Para los mapas base -->
  <div class="absolute bottom-5 left-4 z-40">
    <div class="flex gap-3 bg-white rounded-2xl shadow-2xl border border-amber-100">
      @for (m of mapas_base; track m.id) {
        <div
          (click)="cambiarMapasBase(m)"
          [pTooltip]="m.nombre"
          tooltipPosition="top"
          class="relative group cursor-pointer trasition-all"
        >
          <div
            class="h-14 w-14 rounded-xl border-2 overflow-hidden transition-all shadow-2xl group-hover:-translate-y-2"
          >
            <img [src]="m.imagen" [alt]="m.nombre" class="h-full w-full object-cover" />

            @if (mapaSeleccionadoId === m.id) {
              <div class="absolute inset-0 bg-primary-500/20 flex flex-center justify-center">
                <i class="pi pi-check text-white rounded-full p-1 text-[8px]"></i>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Para las herramientas -->
  <div class="absolute right-4 bottom-7 z-40 flex flex-col gap-3">
    <p-button
      icon="pi pi-pencil"
      severity="info"
      [rounded]="true"
      (onClick)="activarMedicionPunto()"
      tooltipPosition="left"
      pTooltip="Medición de Distancia entre Puntos"
    />

    <p-button
      icon="pi pi-map"
      severity="info"
      [rounded]="true"
      (onClick)="abrirModalWmsWfs()"
      tooltipPosition="left"
      pTooltip="Agregar Capa WMS/WFS"
    />

    <p-button
      icon="pi pi-plus"
      severity="info"
      [rounded]="true"
      (click)="acercar()"
      tooltipPosition="left"
      pTooltip="Acercar"
    />

    <p-button icon="pi pi-minus" severity="info" [rounded]="true" (click)="alejar()" />

    <p-button icon="pi pi-compass" severity="info" [rounded]="true" (click)="miUbicacion()" />
  </div>

  <app-footer [latitud_fot]="coordenadas().latitud" [longitud_fot]="coordenadas().longitud">
  </app-footer>
</div>

<p-dialog
  header="Header"
  [(visible)]="visibleMunicipio"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>Departamento: {{ datosMunicipio()?.departamento }}</p>
  <p>Provincia: {{ datosMunicipio()?.provincia }}</p>
  <p>Municipio: {{ datosMunicipio()?.municipio }}</p>
  <p>Cod depto: {{ datosMunicipio()?.cod_dep }}</p>
  <p>Cod de mun: {{ datosMunicipio()?.cod_mun }}</p>
</p-dialog>

<!-- Modal WMS / WFS -->
<!-- <p-dialog
  header="Agregar Capa WMS / WFS"
  [(visible)]="visibleWmsWfs"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
> -->
<app-wms-wfs #wmswfs [mapa]="mapa"></app-wms-wfs>
<!-- </p-dialog>  -->
