/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use 'primeicons/primeicons.css';
// @use '@/assets/layout/layout.scss';
@use './assets/layout/layout.scss';
// @use '@/assets/demo/demo.scss';

.area-tooltip {
  background: white;
  border: 1px solid #22c55e;
  font-weight: bold;
  color: #15803d;
}
